// 1170 px is provided by timeline library. This bastard.

.timeline_wrapper {
	margin: 50px 0;
	display: flex;
	justify-content: center;
	@media (min-width: 1170px) {
		width: 90%;
	}
	& > div {
		width: 90%;
	}
}

.vertical_timeline {
	max-width: 1000px;
	margin: 0;
	&::before {
		// vertical line
		background: var(--contrast);
		opacity: 0.7;
		border-radius: 2px;
	}
}

.vertical_timeline_element {
	max-width: 600px;
	@media (min-width: 1170px) {
		max-width: 1000px;
	}
	& > div {
		// max-width: 400px;
		// card
		box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
		// box-shadow: none;
		border-radius: 4px;
		@media (min-width: 960px) {
		}
		& > div:first-child {
			// arrow from card to icon
			border-right: 10px solid black;
		}
	}
}

.timeline_icon {
	width: 50px;
	height: 50px;
	margin-left: -5px;
	background-color: #fff;
	// background-color: var(--contrast);
	border: 1px solid var(--contrast);
	// stupid boxshadow around icons on vertical line
	box-shadow: none;
	@media (min-width: 1170px) {
		// transform: translate(5px, 6px);
	}
}
